pkgbase = sonora-bin
	pkgdesc = An unofficial minimal native Spotify client built with GPUI
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/nolight132/sonora
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	license = OFL-1.1
	license = ISC
	depends = alsa-lib
	depends = dbus
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glibc
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = vulkan-driver
	depends = vulkan-icd-loader
	depends = wayland
	provides = sonora=0.10.0
	conflicts = sonora
	options = !strip
	options = !debug
	source = sonora-0.10.0.tar.gz::https://github.com/nolight132/sonora/archive/refs/tags/v0.10.0.tar.gz
	sha256sums = 8412588f555efcc4caa06dff2bacde18d6e3494cda542f011acec4f75586e895
	source_x86_64 = sonora-0.10.0-x86_64::https://github.com/nolight132/sonora/releases/download/v0.10.0/sonora-v0.10.0-x86_64-unknown-linux-gnu
	sha256sums_x86_64 = e538d3aa942844306fa31e0cb9ec23257912f134b5978c209a6640eff3ab78c3
	source_aarch64 = sonora-0.10.0-aarch64::https://github.com/nolight132/sonora/releases/download/v0.10.0/sonora-v0.10.0-aarch64-unknown-linux-gnu
	sha256sums_aarch64 = f242ce81cd77435dea2d1f7eb2155a84b0d54bc9a7bf82cb5cf45cf1b24b5851

pkgname = sonora-bin
