pkgbase = sonora
	pkgdesc = An unofficial minimal native Spotify client built with GPUI
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/nolight132/sonora
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	license = OFL-1.1
	license = ISC
	makedepends = cargo
	makedepends = pkgconf
	depends = alsa-lib
	depends = dbus
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = vulkan-driver
	depends = vulkan-icd-loader
	depends = wayland
	options = !lto
	source = sonora-0.10.0.tar.gz::https://github.com/nolight132/sonora/archive/refs/tags/v0.10.0.tar.gz
	sha256sums = 8412588f555efcc4caa06dff2bacde18d6e3494cda542f011acec4f75586e895

pkgname = sonora
